<!-- Передаем в представление коллекцию объектов BookModel -->
@model IEnumerable<LibraryRequiem.Models.BookModel>

@{
    <!-- Описываем заголовок отображаемый в окне браузера -->
    ViewData["Title"] = "Коллекция";
}
<!-- Контейнер страницы -->
<div class="collection_container">
    <!-- Кнопка перенаправляющая пользователя на сраницу создания книги, действие Create -->
    <button class="create_button">
        <a asp-action="Create" asp-controller="Collection" class="create">
            Добавить
        </a>
    </button>
    <!-- Ссылка на сайт где можно скачать программу для чтения -->
    <label class="calibre_label">Скачать программу для чтения <a class="calibre_href" href="https://calibre-ebook.com/ru/download_windows"> "Calibre" </a> с оффициального сайта</label>
    <!-- Сетка с картами книг -->
    <div class="cards">
        <!-- Перебор каждого экземпляра книги в модели -->
        @foreach (var item in Model)
        {
            <!-- Карта книги -->
            <div class="card">
                <div class="card_top">
                    <!-- Задается действие перехода на страницу с информацией о книге, при клике на её изображение -->
                    <a class="card_image" asp-action="Details" asp-route-id="@item.Id"><img src="@item.BookImagePath"></a>
                </div>
                <div class="card_bottom">
                    <!-- Задается действие перехода на страницу с информацией о книге, при клике на название -->
                    <a  class="card_title" asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                    <form class="author" method="post" asp-action="SearchResult" asp-controller="Collection">
                        <!-- В Post запросе в действие SearchResult передается имя автора, при нажатии на него -->
                        <button class="author_text" value="@item.Author" name="searchitem">@item.Author</button>
                    </form>
                    <div class="buttons">
                        <!-- Задается действие перехода на страницу с информацией о книге, при клике на кнопку -->
                        <button class="detail-button">
                            <a class="text" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                        </button>
                        <!-- Кнопка скачивания, передаёт в метод Download Id книги -->
                        <button class="download-button">
                            <a class="text" asp-action="Download" asp-route-id="@item.Id">Скачать</a>
                            <a class="text" asp-action="ReadPage" asp-route-id="@item.Id">Читать</a>
                        </button>
                        <button class="read-button">
                            <a class="text" asp-action="ReadPage" asp-route-id="@item.Id">Читать</a>
                        </button>
                    </div>
                
                </div>
            </div>
        }
    </div>
</div>
