<!-- Передаем в представление коллекцию объектов BookModel -->
@model LibraryRequiem.Models.ViewModel.CollectionIndexViewModel

@{
    <!-- Описываем заголовок отображаемый в окне браузера -->
    ViewData["Title"] = ViewBag.Search;

}
<!-- Контейнер страницы -->
<div class="search_container">
    <!-- Проверка модели на null, если её не провести то приложение остановится с исключением NullReferencesExpection -->
    @if(Model != null)
    {
        <!-- Отображение значения строки поиска в заголовке -->
        <h3 class="search_item">@ViewBag.Search</h3>
        <!-- Сетка с картами книг -->
        <div class="cards">
            <!-- Перебор каждого экземпляра книги в модели -->
            @if (Model != null)
            {
                foreach (var item in Model.Books)
                {
                    <!-- Карта книги -->
                    <div class="card">
                        <div class="card_top">
                            <!-- Задается действие перехода на страницу с информацией о книге, при клике на её изображение -->
                            <a class="card_image" asp-action="Details" asp-controller="Collection" asp-route-id="@item.Id"><img src="@item.BookImagePath"></a>
                        </div>
                        <div class="card_bottom">
                            <!-- Задается действие перехода на страницу с информацией о книге, при клике на название -->
                            <a class="card_title" asp-action="Details" asp-controller="Collection" asp-route-id="@item.Id">@item.Title</a>
                            <div class="buttons">
                                <form class="author" method="post" asp-action="SearchResult" asp-controller="Collection">
                                    <!-- В Post запросе в действие SearchResult передается имя автора, при нажатии на него -->
                                    <button class="author_text" value="@item.Author" name="searchitem">@item.Author</button>
                                </form>
                                <!-- Задается действие перехода на страницу с информацией о книге, при клике на кнопку -->
                                <button class="detail-button">
                                    <a class="text" asp-action="Details" asp-controller="Collection" asp-route-id="@item.Id">Подробнее</a>
                                </button>
                                <!-- Кнопка скачивания, передаёт в метод Download Id книги -->
                                <button class="download-button">
                                    <a class="text" asp-action="Download" asp-controller="Collection" asp-route-id="@item.Id">Скачать</a>
                                </button>
                                <button class="read-button">
                                    <a class="text" asp-action="ReadPage" asp-controller="Collection" asp-route-id="@item.Id">Читать</a>
                                </button>
                                @if (Model.User != null)
                                {
                                    <button type="submit" class="read-button">
                                        <a class="text" href="/FavoriteList/AddTitle?id=@item.Id&currentPage=@Context.Request.HttpContext.Request.Path&searchitem = @ViewBag.Search">В избранное</a>
                                    </button>
                                }
                            </div>

                        </div>
                    </div>
                }
            }
        </div>
    }
        <!-- Если по данному запросу нет результата то отображается этот заголовок -->
    <!-- else {
    <h1>Пустая строка поиска</h1>
    } -->
</div>